
 @font-face { font-family: Playfair Display SC; src: url('Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf'); } 
 @font-face { font-family: PArapey; src: url('Arapey/Arapey-Regular.ttf'); } 
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(197, 158, 177);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding: 20px;
}
.header {
  padding: 10px;
  text-align: center;
  margin: auto;
}

.ct1 {
  color: #383838;
}

.cb1 {
  background-color:white;
}

.cb2 {
  background-color: white;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  font-weight: normal;
  font-size: 41px;
}
h2 {
  font-family: 'Playfair Display SC', serif;
  font-size: 20px;
}

h3 {
  font-family: 'Arapey', serif;
  font-weight:1;
  font-size: 23px;
}

p {
  font-family: 'Arapey', serif;
  font-size: 15px;
}

div.a {
  line-height: 100%;
}


.center {
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top:0;
  margin-bottom: 0;
}

.center2 {
  padding: 10px;
  text-align: center;
  margin: auto;
}
.center3 {
  padding: 40px;
  text-align: center;
  margin-top: 0;
}
.center4 {
  padding: 0px;
  text-align: center;
  margin: auto;
}
.center5 {
  padding:0;
  text-align: center;
  margin-left: 15%;
}
@media only screen and (max-width: 600px) {
  .center6 {
    padding:0;
    text-align: center;
    margin-left: 0;
  }
}
.center7 {
  width: 91.66%;
  position: sticky;
  top: 0;
  margin-left: 4.17%;
}
.mapouter {position:relative;text-align:right;height:400px;width:400px;z-index: 1;overflow:hidden;background:none!important;height:400px;width:400px;z-index: 1;}
.frame {width:400px; height:400px}

@media only screen and (max-width: 600px){
.mapouter {position:relative;text-align:right;height:250px;width:250px;z-index: 1;overflow:hidden;background:none!important;height:250px;width:250px;z-index: 1;}
.frame {width:250px; height:250px}
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bgimg,
.bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.bgimg {
  background-image: url("Semester.JPG");
}

.bgimg2 {
  background-image: url("skog.png");
}
.topnav {
  overflow: auto;
  margin: auto;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Arapey', serif;
  color: #383838;
}

.topnav a {
  float: left;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
  font-family: 'Arapey', serif;
  position: sticky;
  top: 0;
  color: #383838;
}

.topnav a:hover {
  color: #b6b6b6;
}

.topnav a.active {
  font-weight: normal;
  text-decoration: none;
  position: sticky;
  top: 0px;
  color:#383838
}

.topnav .icon {
  display: none;
  position: sticky;
  top: 0;
  color: #383838;
  right:0;
}

@media screen and (max-width: 600px) {
  .topnav a{
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    top: 0%;
  }

  .topnav.responsive {
    position: sticky;
    top:0;
    right:0;
  }
  .topnav.responsive .icon {
    position:relative;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  /* For phones: */
  .col-t-1 {
    width: 8.33%;
  }
  .col-t-2 {
    width: 16.66%;
  }
  .col-t-3 {
    width: 25%;
  }
  .col-t-4 {
    width: 33.33%;
  }
  .col-t-5 {
    width: 41.66%;
  }
  .col-t-6 {
    width: 50%;
  }
  .col-t-7 {
    width: 58.33%;
  }
  .col-t-8 {
    width: 66.66%;
  }
  .col-t-9 {
    width: 75%;
  }
  .col-t-10 {
    width: 83.33%;
  }
  .col-t-11 {
    width: 91.66%;
  }
  .col-t-12 {
    width: 100%;
  }
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #614caf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #6545a0;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 407px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


